# Visual Studio / .NET
bin/
obj/
*.user
*.suo
*.vs

# Secret / sensitive files
appsettings.json
credentials.json
appsettings.Development.json

# Google OAuth tokens
token.json/
*.token


# Other temporary files
*.log
*.tmp




